body {
    padding: 0;
    margin: 0;
}

.Nav {
    /* position: relative; */
    /* background-position: top; */
    /* background: orange; */
    /* background: transparent; */
    /* box-shadow: 0 4px 10px rgba(0,0,0,.445); */
    /* background: rgba(0, 0, 0, 0.5); */
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    /* margin-bottom: 20px; */
    /* margin-right: 10px;  */
    /* margin-left: 10px; */
    padding-right: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */
    align-items: center;
    /* align-content: center; */
}

.Nav > div {
   /* background: green; */
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 0 auto; 
   /* align-items: center; */
}

.down {
    color: black !important;
    border-bottom-color: black !important;
    border-color: black !important;
}

.up {
    color: white !important;
    border-bottom-color: white !important;
    border-color: rgba(250, 250, 250, 0.6) !important;
}

.left-nav {
    display: flex;
    /* position: relative; */
    /* flex-direction: row; */
    font-family: 'Avenir',Arial,Helvetica,sans-serif;
    z-index: 1001;
    /* padding: 0; */
    justify-content: space-between;
    /* background: gold; */
    width: 45%;
    align-items: center;
}

/* .left-nav > div > h1 {
    font-size: 1.5em;
    font-family: cursive;
    text-align: center;
    color: firebrick !important;
} */

.title {
    font-size: 2em;
    font-family: flash back;
    text-align: center;
    color: firebrick !important;
}

.menu {
    display: flex;
    position: relative;
    /* flex-direction: row; */
    font-family: 'Avenir',Arial,Helvetica,sans-serif;
    z-index: 1001;
    /* padding: 0; */
    justify-content: space-between;
    /* background: red; */
    width: 40%;
    align-items: center;
}

.login, .logout, .products, .cart {
    /* content: "";
    position: absolute;
    bottom: 15px;
    height: 1px;
    width: 100%;
    left: 0; */
    /* background-color: #000000; */
    /* transform: scaleX(0);
    transition: all 0.3s ease-in-out; */
    position: relative;
    color: white !important;
    padding: 5px;
    /* background: url('../../../media/594192a35eb5d45f10e35b30.png') center center; */
    background-size: cover;
    background-repeat: none;
}

.underline:hover::after {
    content: "  ";
    position: absolute;
    top: 30px;
    height: 1px;
    left: 0;
    bottom: 15px;
    width: 100%;
    /* background-color: #000000; */
    border-bottom: solid 1px;
    animation: underline 1s forwards;
}

.ant-dropdown-link, a:Link {
    text-decoration: none;
    color: white;
   
}

.ant-dropdown-link {
    padding: 5px;
    /* background: url('../../../media/594192a35eb5d45f10e35b30.png') center center; */
    background-size: cover;
    background-repeat: none;
}

*:before, *:after {
    box-sizing: inherit;
}

@keyframes underline {
    0%{transform: scaleX(0);}
    100%{transform: scaleX(1)}
  }

/* h1 {
    color: firebrick !important;
} */

/* .products {
    text-decoration: none;
} */

.cart-icon {
    display: flex;
    position: relative;
    height: 59px;
    width: 122px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url('../../../media/594192a35eb5d45f10e35b30.png') center center;
    background-size: cover;
    background-repeat: none;
    /* width: 20px; */
    /* text-align: center; */
    /* color: white; */
    z-index: 10;
}

.cart-icon > div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    margin: 0 0 0 7px;
    padding: 5px;
}

