/* .form-container {
    background: lightblue;
    
} */

.admin-form {
    text-align: center;
    margin: 0 0 0 120px;
    width: 80%;
}


.FormItem {
    padding-top: 100px;
}

Input {
    text-align: center;
    margin: auto 0;
}

.background {
    background: lightblue;
}